//styles for header
@import "constants.scss";
@import './mixins/mixins.scss';

.header {
  @include flexboxMixin;
  box-shadow: 2px 1px 3px black;

  .fa-cat {
    color: $app-red;
    font-size: 32px;
  }

  &__title {
    flex: 0 1 230px;
    display: flex;
    gap: 10px;
    @include textMixin;

    p {
      font-size: 24px;
      margin-top: 5px;
      color: $app-red;
    }
  }

  &__search-bar {
    @include flexboxMixin;
    flex: 1 1 80%;
  }

  &__input-wrapper {
    display: flex;
    flex: 0 1 600px;

    .header__search-bar-wrapper {
      flex: 1 1 100%;

      input {
        @include textMixin;
        padding: 7px 30px 7px 10px;
        border: solid black;
        width: 100%;
        border-width: 0 0 1px 0;
        transition-duration: .1s;

        &:focus {
          outline: none;
          border: solid darkblue !important;
          border-width: 0 0 2.3px 0 !important;
          transition-duration: .1s;
        }
      }

      .fa-magnifying-glass {
        font-size: 18px;
        margin-left: -25px;
        transition-duration: .3s;
        z-index: 1;
        cursor: pointer;

        &:hover {
          color: lighten(black, 30);
          transition-duration: .3s;
        }
      }
    }

    .header__mic-icon {
      @include flexboxMixin;

      .fa-microphone {
        font-size: 22px;
        margin: -2px 0 0 10px;
        transition-duration: .3s;
        cursor: pointer;

        &:hover {
          color: lighten(black, 30);
          transition-duration: .3s;
        }
      }
    }
  }

  &__menus {
    flex: 0 1 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

    .fa-bell,
    .fa-paw {
      font-size: 24px;
      cursor: pointer;
      transition-duration: .3s;

      &:hover {
        @include hoverBlackItem;
      }
    }

    .header__paw-menu-button {
      @include flexboxMixin;
      background-color: $app-red;
      border-radius: 50%;
      position: relative;
      width: 45px;
      height: 45px;

      &:hover {
        cursor: pointer;
        .fa-paw-trigger {
          @include hoverBlackItem;
        }
      }

      .header__pop-up {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        right: -5px;
        top: 18px;
        transition-duration: .3s;
        transform: scale(0.9);

        .header__menu-list {
          margin-top: 20px;
          background-color: #fff;
          box-shadow: 1px 5px 5px black;

          & > li {
            @include textMixin;
            list-style: none;
            display: flex;
            gap: 10px;
            padding: 10px 8px;
            transition-duration: .3s;
            cursor: pointer;

            &:hover {
              @include hoverBlackItem;
              color: $app-red;
            }
          }
        }
      }

      &:hover .header__pop-up {
        opacity: 1;
        pointer-events: unset;
        transition-duration: .3s;
        transform: scale(1);
      }
    }

  }
}