@import '../constants';

@mixin flexboxMixin {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin textMixin {
  font-family: $main-font;
  font-size: 18px;
  color: #c3c0c0;
  text-align: justify;
}

@mixin hoverBlackItem {
  color:lighten(black, 30);
  cursor: pointer;
  transition-duration: .3s;
}

@mixin longText {
  display: block;
  line-height: 130%;
  white-space: nowrap;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}