@import './mixins/mixins.scss';
@import './constants.scss';

.main__categories {
  width: 80px;
  position: absolute;
  max-height: calc(100vw - 280px);
  display: flex;
  flex-direction: column;
  margin-left: 19px;
  gap: 55px;
  left: 0;
  right: 0;
  top: 0;
  transform:rotate(-90deg) translateY(-80px);
  transform-origin:right top;
  overflow-y: scroll;
  scrollbar-width: none;

  @media (max-width: 1200px) {
    max-height: calc(100vw - 140px);
  }

  & > div:nth-child(1) {
    background-color: $app-red;
    margin-top: 120px;
  }

  & > div:nth-last-child(1) {
    margin-bottom: 0 !important;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .main__categories-item {
    transform:rotate(90deg) translateY(60px);
    transform-origin: right top;
    height: 80px;
    margin: 30px 0;
    width: 120px;
    p {
      @include longText;
      width: 100%;
      padding: 3.3px 0;
      text-align: center;
    }
    @include textMixin;
    white-space: nowrap;
    padding: 5px 15px;
    background-color: $main-gray;
    border-radius: 15px;
    transition-duration: .3s;

    &:hover {
      background-color: $app-red;
      cursor: pointer;
      transition-duration: .3s;
    }
  }
}