@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

$main-font: 'Montserrat', sans-serif;
$app-red: #6e0710;
$main-gray: #2f2f2f;
$main-bg: #202020FF;
$font-light-gray: #c3c0c0;